<div class="card" data-ng-hide="edit" data-ng-click="edit=true">
    <h4>{{ card.title }}</h4>
    <span class="description">{{ card.description }}</span>
</div>

<div class ="card" data-ng-show="edit"
    data-ng-model-options="modelOptions">
    <div class="flex">
        <label><strong>Title:&nbsp;</strong></label>
        <label>
            <input type="text"
                   data-ng-model="card.title"/>
        </label>
    </div>
    <textarea data-ng-model="card.description"
              placeholder="Enter description.."></textarea>

    <button data-ng-click="update(); edit=false">Save</button>
    <button data-ng-click="close(); edit=false">Close</button>
    <button data-ng-click="delete()">Delete Card</button>
</div>